<% provide :title, t(".name") %>
<h1><%= t ".name" %></h1>
<p>
  <%= link_to t(".intro1"), "http://www.railstutorial.org/" %>
  <%= link_to t(".intro2"), "http://www.railstutorial.org/book" %>
  <%= link_to t(".intro3"), "http://screencasts.railstutorial.org/" %>
  <%= t ".intro4" %>
  <%= link_to t(".sample1"), "http://rubyonrails.org/" %>
  <%= t ".sample2" %>
</p>
